:root{
    --color_1: #156576;
    --color_2: #34B1AC;
    --color_3: #7BC789;
    --color_4: #D8C39D;
}

/* Corpus*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

/* Globales*/
h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 5rem;
}

h3 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #000
}

.contenedor {
    max-width: 100%;
    display: block;
}
/**Header**/
.logo{

    display: inline-block;
    top: 0;
    left: 0;
    height: 80px;
    width: 30%;
}
.logo a{
    position: relative;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight:900;
    letter-spacing: 1px;
    font-size: 20px;
    top: -30px;
    left: 120px;
}
/* NAV */
nav{
    position: absolute;
    display: inline-block;
    right: 0;
    height: 80px;
    width: 59%;
    text-align: right;
}
nav a{
    position: relative;
    font-family:'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif;
    font-weight: 700;
    text-decoration:none;
    color: fff;
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: 64px;
    right: 160px;
    top: 25px;
  }
nav a:hover{
    position: relative;
    font-family:'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: 64px;
    right: 160px;
    top: 25px;
    color: #7BC789;
}
nav a:before{
    content:'';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #d8c39d;
    top:120%;
    animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  }
  nav a:hover:before{
    animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

  }
  @keyframes in{
    0%{
      width: 0;
      left:10px;
      right:auto;
    }
    100%{
      left:0;
      right:auto;
      width: 100%;
    }
  }
  @keyframes out{
    0%{
      width:100%;
      left: auto;
      right: 0;
    }
    100%{
      width: 0;
      left: auto;
      right: 0;
    }
  }
  @keyframes show{
    0%{
      opacity:0;
      transform:translateY(-10px);
    }
    100%{
      opacity:1;
      transform:translateY(0);
    }
  }

  @for $i from 1 through 5 {
    nav a:nth-child(#{$i}){
      animation:show .2s #{$i*0.1+1}s ease 1 both;
    }
  }

